﻿@model Web.Models.EditListModel

@{
    ViewBag.Title = "Edit List";
}

<div>
    @using (Html.BeginForm())
    {

        <p>@Html.DisplayFor(m => m.Id)</p>
        <p>
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </p>

        if (Model.ListExpirationEnabled && Model.Expired)
        {
            <p>List expired</p>
        }

        if (Model.CurrentUserIsAdmin)
        {
            <p>CurrentUser is Admin in Model</p>
        }

        if (ViewBag.CurrentUserIsAdmin)
        {
            <p>CurrentUser is Admin in ViewBag</p>
        }

        <input type="submit" />
    }
</div>